@font-face {
    font-family: 'IsYun';
    src: url('/isyun.ttf') format('woff');
    font-weight: normal;
    font-display: swap;
}

@theme inline {
    --font-isyun: 'IsYun', 'sans-serif';
}

@import "tailwindcss";
@plugin "daisyui" {
    themes: cupcake --default;
}